<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767164872646-mchsomd43tl9qvhrj5i41m8pv0l1l75n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767164872646-mchsomd43tl9qvhrj5i41m8pv0l1l75n</string>
	<key>API_KEY</key>
	<string>AIzaSyDJrcZvZ7e29WP7pkWW4cIf5hYpUQAtVJE</string>
	<key>GCM_SENDER_ID</key>
	<string>767164872646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.symbiothub.dance</string>
	<key>PROJECT_ID</key>
	<string>symbiothub-dance</string>
	<key>STORAGE_BUCKET</key>
	<string>symbiothub-dance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767164872646:ios:2ba163afe69175f4d9a4c7</string>
</dict>
</plist>