<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449414175024-vqvfo4lgmdvr87gj5du8jrlcne6bn7pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449414175024-vqvfo4lgmdvr87gj5du8jrlcne6bn7pf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449414175024-drr1meso0h0jb8tl1qknl3m1sdv81okn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgFjh3PqSlwNuQkxBwYejTcBL1YnNKI1o</string>
	<key>GCM_SENDER_ID</key>
	<string>449414175024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spanday.pro</string>
	<key>PROJECT_ID</key>
	<string>spanday-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spanday-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449414175024:ios:e32fc19890e3747bf850f5</string>
</dict>
</plist>